<!--credit goes to Hamza Gourram youtube channal, animation is different -->

<div class="jumbotron">
  <h2 class="display-4 text-center" style="font-weight:350;">Services</h2>
  <p class="lead text-center">These are some services that we provide to my Customers</p>
</div>

<section class="section-services">
		<div class="container">

			<div class="row">
				
				<div class="col-md-6 col-lg-4">
					<div class="single-service">
						<div class="content">
							<span class="icon">
								<i class="fab fa-battle-net"></i>
							</span>
							<h3 class="title">Extension Of Study-Visa</h3>
							<p class="description">I provide service of mobile application development with minimal price in contlin and in java language.</p>
						</div>
						<span class="circle-before"></span>
					</div>
				</div>


				<div class="col-md-6 col-lg-4">
					<div class="single-service">
						<div class="content">
							<span class="icon">
								<i class="fab fa-asymmetrik"></i>
							</span>
							<h3 class="title">Apply Work-Permit</h3>              
							<p class="description">I provide service of website development in reasonable price using HTML, CSS, JavaScript, and NodeJs  language.</p>
						</div>
						<span class="circle-before"></span>
					</div>
				</div>
			
			
				<div class="col-md-6 col-lg-4">
					<div class="single-service">
						<div class="content">
							<span class="icon">
								<i class="fas fa-chart-pie"></i>
							</span>
							<h3 class="title">Business Advice</h3>
							<p class="description">I provide service of Business Advice to my regular customers, who pays me to make websites and mobile application.</p>
						</div>
						<span class="circle-before"></span>
					</div>
				</div>
			
			</div>
		</div>
	</section>



  