   <nav class="navbar fixed-bottom navbar-dark bg-dark">
    <div class="container-fluid text-center">
      <h5 class="text-white company-name">&copy; SKY_EXPERT_IMMEGRATION</h5>
      <h5 class="text-white phone"><i class="fas fa-phone"></i>+1 647-234-5678</h5>
      <h5 class="text-white email"><i class="fas fa-envelope"></i> nainilpatelnhp@gmail.com</h5>
    </div>
  </nav>